# Base de données
DATABASE_HOST= 'localhost'
DATABASE_NAME= 'db'
DATABASE_USER= 'root'
DATABASE_PASSWORD= 'password'

# Adresse e-mail
SMTP_HOST="smtp.mail.net"
SMTP_PORT=587
SMTP_USER="votre_utilisateur_smtp"
SMTP_PASS="votre_mot_de_passe_smtp"
SMTP_FROM=example@mail.net
SMTP_FROM_NAME="Name"

# Autres variables d'environnement au besoin
APP_ENV=local
APP_DEBUG=true