<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteRule ^sitemap\.xml$ siteMap.php [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>