html, body, main {
    height: 100vh;
    width: 100vw;

    color: var(--text-light);
    background-color: var(--main);

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

main {
    margin: 7vh 1vw 0 1vw;
    height: 80vh;
    width: 98vw;

    border-radius: 15px;

    background-color: var(--background);

    justify-content: right;
    flex-direction: column;
}

header, footer {
    position: fixed;

    width: 98vw;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border-radius: 15px;

    background-color: var(--secondary);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 5vh;

    background: none;
}

footer {
    margin-top: 89vh;
    height: 10vh;

    flex-direction: column;
    justify-content: space-around;
}




a {
    text-decoration: none;
    color: var(--text-light);

    padding: 5px;

    display: flex;
    justify-content: center;
}
a:hover {
    color: var(--accent);
}

path { /* pour changer la couleur de remplissage du toggle */
    fill: var(--text);
}

#theme-toggle {
    background: none;
    border: none;
}