html, body, main {
    height: 100vh;
    width: 100vw;

    color: var(--bs-black);
    background-color: var(--bs-gray-200);

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

main {
    margin: 12vh 1vw 0 1vw;
    height: 80vh;
}

header, footer {
    position: fixed;

    width: 98vw;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border-radius: 15px;

    background-color: var(--bs-indigo);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 5vh;

    background: none;
}
a {
    text-decoration: none;
    color: var(--bs-gray-800);
}
a:hover {
    color: var(--bs-link-hover-color);
}

footer {
    margin-top: 89vh;
    height: 10vh;

    flex-direction: column;
    justify-content: space-around;
}

.nav-link {
    color: var(--bs-gray-200);
}
.nav-link:hover {
    color: var(--bs-link-hover-color);
}

